<form method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Từ khóa</label>
    <input type="text" name="q" class="form-control" placeholder="Nhap tu khoa" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Gioi tinh</label>
    <select name="gender" id="gender-input">
        <option value="">--Chon gioi tinh--</option>
        <option value="Male">Nam</option>
        <option value="Female">Nu</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>